@model IEnumerable<data_analyse.Data.UploadFile>

<h2>پنل مدیریت فایل</h2>

@if (TempData["Message"] !=null)
{
    <div class="alert alert-success">@TempData["Message"]</div>

}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>

}

<table class="table">
    <thead>
        <tr>
            <th>نام فایل</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
    {
        <tr>
            <td>@file.originalFIleName</td>
            <td>
                <form method="post" asp-action="StartAnalys" asp-route-id="@file.Id">
                    <button type="submit" class="btn btn-primary">انتخاب برای تحلیل</button>
                </form>
            </td>
        </tr>
    }
</tbody>
</table>