@page
@model data_analyse.Pages.Uploads.IndexModel
@{
    ViewData["Title"] = "بارگذاری فایل";
}

<h2 dir="rtl">بارگذاری فایل برای تحلیل</h2>


@if (TempData["Message"] != null)
{
    <div style="color:green">@TempData["Message"]</div>
}
@if (TempData["Error"] != null)
{
    <div style="color:red">@TempData["Error"]</div>
}


<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

        <input asp-for="File" type="file"/>

        <button type="submit">آپلود</button>
    
</form>

